<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="post">
            <div class="form-group">
                <label for="usuario">Usuario:</label><input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="passwd">Contraseña:</label><input type="password" id="passwd" name="passwd" required>
            </div>
            <input type="submit" value="Entrar">
        </form>
        <p class="form-link"><a href="{{ url_for('auth_routes.register') }}">¿No tienes cuenta? Regístrate</a></p>
    </div>
</body>
</html>
